.portfolio{
    min-height: 100vh;
    .quote{
        color: rgb(83, 83, 83);
        font-style: italic;
        padding: 0 10vw 0 10vw;
        margin-top: 30vh;
        margin-bottom: 20vh;
    }
    .project-container{
        margin-bottom: 50px;
        color: black;
        :nth-child(2){
            background-image:
            linear-gradient(to bottom,
                rgba(0, 0, 0, .5),
                rgba(0, 0, 0, .5)),
            url('../Images/project-1.png');
            background-size: cover;
            background-position: bottom center;
            background-attachment: fixed;
        }
        :nth-child(3){
            background-image:
            linear-gradient(to bottom,
                rgba(0, 0, 0, .5),
                rgba(0, 0, 0, .5)),
            url('../Images/project-2.png');
            background-size: cover;
            background-position: top center;
            background-attachment: fixed;
        }
        :nth-child(4){
            background-image:
            linear-gradient(to bottom,
                rgba(0, 0, 0, .5),
                rgba(0, 0, 0, .5)),
            url('../Images/project-3.png');
            background-size: cover;
            background-position: top center;
            background-attachment: fixed;
        }
        .project{
            color: white;
            min-height: 50vh;
            background-color: yellow;
            margin-top: 50px;
            padding: 3vw;
            display: grid;
            grid-template-rows: 1fr 5fr 1fr;
            h1{
                font-weight: bold;
                margin-left: 2vw;
            }
            .w{
                background: none;
            }
            .preview{
                background: none;
                a{  padding: .3vw;
                    border: 1px solid white;
                    top: 40;
                    text-decoration: none;
                    color: white;
                    transition: 0.4s ease-out;
                    &:hover{
                        background-color: rgb(85, 85, 85);
                    }
                    h5{
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}